<!--
/*********************************************************************************
 *  WEB322 – Assignment 3
 *  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.
 *  No part of this assignment has been copied manually or electronically from any other source
 *  (including web sites) or distributed to other students.
 *
 *  Name: Nishit Shah Student ID: 130 176 217 Date: 14th Oct 2022
 *
 *  Online (Cyclic) URL: https://real-erin-pike-hem.cyclic.app/
 *
 ********************************************************************************/
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Nishit Shah" />

    <title>About
    </title>
    <link rel="stylesheet" href="/addPost/naruto.css" type="text/css" />


</head>

<body>

    <div class="naruto">
        <div class="header">
            <div class="navbar">
                <div class="container">
                    <ul>
                        <li><a href="/blog">Blog</a></li>
                        <li class="active"><a href="/posts/add">Add Post</a></li>
                        <li>----------</li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/posts">Posts</a></li>
                        <li><a href="/categories">Categories</a></li>
                        <a href="https://nishitshah18.github.io/final_web222/">
                            <li>Portfolio</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1>Add Post :-</h1>
                    <br>

                    <form method="post" action="/posts/add" enctype="multipart/form-data">

                        <h2 style="color: #00ff6a;">Feature Image</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" id="featureImage" name="featureImage" type="file" />
                                </div>
                            </div>
                        </div>
                        <br>
                        <h2 style="color: #00ff6a;">Post Content</h2>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="title" style="color: rgb(255, 255, 255);">Title:</label><br>
                                    <input class="input" id="title" name="title" type="text" />
                                    <br>&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="body" style="color: rgb(255, 255, 255);">Body:</label><br>
                                    <textarea class="theboxinput" id="body" name="body" rows=15></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="category" style="color: rgb(255, 255, 255);">Category:</label>
                                    <select class="form-control" name="category" id="category">
                                        <option value="1">Technology</option>
                                        <option value="2">Gaming</option>
                                        <option value="3">Fashion</option>
                                        <option value="4">Education</option>
                                        <option value="5">Wellness</option>

                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="category" style="color: rgb(255, 255, 255);">Visibility:</label>

                                    <label>
                                        <input type="checkbox" name="published" id="published"> Published
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>


                        <br>
                        <input type="submit" class="button-link" value="Add Post" /><br /><br /><br />

                    </form>
                </div>
            </div>
        </div>

        <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>

</body>

</html>
