<!--
/*********************************************************************************
 *  WEB322 – Assignment 3
 *  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.
 *  No part of this assignment has been copied manually or electronically from any other source
 *  (including web sites) or distributed to other students.
 *
 *  Name: Nishit Shah Student ID: 130 176 217 Date: 14th Oct 2022
 *
 *  Online (Cyclic) URL: https://real-erin-pike-hem.cyclic.app/
 *
 ********************************************************************************/
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Nishit Shah" />

    <title>Error 404
    </title>
    <link rel="stylesheet" href="/error/error.css" type="text/css" />

    <script src="/error/error.js"></script>
</head>

<body>

    <a href="/" class="goBack" target="_parent">Go Home!</a>

    <div class="error">

        <div class="wrap">
            <div class="404">
                <pre><code>
    	 <span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
    <span class="orange">&lt;html&gt;</span>
        <span class="orange">&lt;style&gt;</span>
       * {
    		        <span class="green">everything</span>:<span class="blue">awesome</span>;
    }
         <span class="orange">&lt;/style&gt;</span>
     <span class="orange">&lt;body&gt;</span> 
                  ERROR 404!
    				FILE NOT FOUND!
    				<span class="comment">&lt;!--You are lost in my assignment, Go Home,
    					maybe come here in next assignment.--&gt;</br>&lt;!--GO HOME--&gt;
                     &lt;!--GO HOME--&gt; </span> </div><span class="info">
                            <div class="moveUp"></div><span class="orange">&nbsp;&lt;/body&gt;</span>
                            <br />
                            <span class="orange">&lt;/html&gt;</span></div>
        </code></pre>
            </div>
        </div>


        </span>


</body>

</html>