<!--
/*********************************************************************************
 *  WEB322 – Assignment 3
 *  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.
 *  No part of this assignment has been copied manually or electronically from any other source
 *  (including web sites) or distributed to other students.
 *
 *  Name: Nishit Shah Student ID: 130 176 217 Date: 14th Oct 2022
 *
 *  Online (Cyclic) URL: https://real-erin-pike-hem.cyclic.app/
 *
 ********************************************************************************/
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Nishit Shah" />

    <title>About
    </title>
    <link rel="stylesheet" href="/about/naruto.css" type="text/css" />

    <script src="/public/about/code.js"></script>
</head>

<body>

    <div class="header">
        <div class="navbar">
            <div class="container">
                <ul>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/posts/add">Add Post</a></li>
                    <li>----------</li>
                    <li class="active"><a href="/about">About</a></li>
                    <li><a href="/posts">Posts</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <a href="https://nishitshah18.github.io/final_web222/">
                        <li>Portfolio</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <header class='masthead'>
        <p class='masthead-intro'>WEB-322</p>
        <h1 class='masthead-heading'>Nishit Shah</h1>
    </header>
    <section class="introduction-section">
        <h1>o About Me</h1>
        <p>- I am an international student currently studying <b>Computer Programming and Analysis</b> in <b> Seneca
                College</b>, Toronto (Canada).</p>
        <p>- I love playing chess and coding. I also love to develope websites on my free time.</p>
        <p>- I am a <b>professional chess player!</b> Some of my achievements:
        <ul>
            <li><b>Participated in chess during HBK sports league 2017</b></li>
            January, 2017</br>&nbsp;</br>
            <li><b>2<sup>nd</sup> Position in Inter-School Chess Tournament organized by Abhinam Chess Academy in
                    association with The Open Page</b></li>
            November, 2017</br>&nbsp;</br>
            <li><b>7<sup>th</sup> Position in Ahmedabad District Under 17-OPEN Chess Tournament by GSCA</b></li>
            December, 2017</br>&nbsp;</br>
            <li><b>5<sup>th</sup> Position in Ahmedabad District Under 15-OPEN Chess Tournament by GSCA</b></li>
            March, 2018</br>&nbsp;</br>
        </ul>
        </p>

    </section>
    <section class="location-section">
        <h1>o My Home</h1>
        <p>- I'm originally from Ahmedabad, Gujarat, <b>India.</b></p>
        <p>- I love <b>Canada</b> and I live here now.</p>
        <p>- I can speak <b>English</b>, <b>Gujarati</b> and <b>Hindi</b></p>
    </section>

    <footer class="content-footer">
        <p>Stay tuned for future updates, till then, you can contact me on these sites:</p>
        <ul class="social">
            <li><a class="css-is-deranged" href="https://github.com/NishitShah18" style="color: #2ecc71;">GitHub</a>
            </li>
            <li><a class="css-is-deranged" href="https://www.linkedin.com/in/nishit-shah-043518229/"
                    style="color: #2ecc71;">LinkedIn</a></li>
            <li><a class="css-is-deranged" href="https://www.instagram.com/nishit.2525/?hl=en"
                    style="color: #2ecc71;">Instagram</a></li>
        </ul>

    </footer>

</body>

</html>